body{
    
    overflow: hidden; 
    margin:0
}

#titulo {
    margin-top: 70px;
    margin-left: 50px;
    font-size: 60px;
}

.form {
    margin-left: 400px;
    margin-top: 100px;
}

.form label{
    margin: 50px;
    font-size: 20px;
}

.form button{
    margin-left: 70px;
    margin-top: 20px;
    padding: 10px;
} 
.form input{
    height: 25px;
    font-size: 15px;
}


.formregister {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 450px;
    margin-right: 450px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.formregister label {
    font-size: 20px;
}
.formregister input {
    font-size: 15px;
}
.formregister button{
    padding: 10px;
}